* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
}

body {
    font-size: 1.25rem;
    line-height: 1.5;
}

body > * {
    max-width: 80ch;
}

h2 {
    font-size: 1em;
}

.properties {

}

